@media (max-width: 1024px){
    .instagram-wrapper {
        width: 75%;
    }

    .phone-img img {
        width: 600px;
    }
}

@media (max-width: 730px){
    body{
        background-color: #fff;
    }

    .phone-img {
        display: none;
    }
}